/* BODY */
body {
    font-family: Arial, sans-serif;

    background: #f4f4f4;

    padding: 30px;
}

h1,
h2,
h3 {
    margin-bottom: 20px;
}

/* =========================
   PART 1
========================= */

.box-container {
    display: flex;

    gap: 30px;

    margin-bottom: 50px;
}

/* COMMON BOX */
.box {
    width: 300px;

    padding: 20px;

    border: 5px solid #222;

    background: white;
}

/* CONTENT-BOX */
.content-box {
    box-sizing: content-box;
}

/* BORDER-BOX */
.border-box {
    box-sizing: border-box;
}

/* =========================
   PART 2
========================= */

.layout {
    width: 1000px;

    display: flex;

    margin-bottom: 40px;

    border: 3px solid black;
}

/* WITHOUT BORDER-BOX */
.without-borderbox .sidebar,
.without-borderbox .ads {
    width: 250px;

    padding: 15px;

    background: #dceeff;

    border: 2px solid blue;

    box-sizing: content-box;
}

.without-borderbox .content {
    width: 500px;

    padding: 20px;

    background: #fff2cc;

    border: 2px solid orange;

    box-sizing: content-box;
}

/* WITH BORDER-BOX */
.with-borderbox .sidebar,
.with-borderbox .ads {
    width: 250px;

    padding: 15px;

    background: #d4ffd4;

    border: 2px solid green;

    box-sizing: border-box;
}

.with-borderbox .content {
    width: 500px;

    padding: 20px;

    background: #ffe0e0;

    border: 2px solid red;

    box-sizing: border-box;
}