/* BODY */
body {
    font-family: Arial, sans-serif;

    padding: 30px;

    background: #f4f4f4;
}

h1 {
    margin: 40px 0 20px;
}

/* COMMON */
.container {
    width: 960px;

    margin-bottom: 60px;

    border: 3px solid black;

    overflow: hidden;
}

.sidebar,
.content {
    float: left;

    min-height: 200px;
}

/* =========================
   FIX 1 — BORDER BOX
========================= */

.fix-borderbox * {
    box-sizing: border-box;
}

.fix-borderbox .sidebar {
    width: 300px;

    padding: 20px;

    border: 1px solid #ccc;

    background: #d6ecff;
}

.fix-borderbox .content {
    width: 660px;

    padding: 30px;

    border: 1px solid #ccc;

    background: #fff2cc;
}

/* =========================
   FIX 2 — MANUAL WIDTH
========================= */

.fix-manual .sidebar {
    width: 258px;

    padding: 20px;

    border: 1px solid #ccc;

    background: #d4ffd4;

    box-sizing: content-box;
}

.fix-manual .content {
    width: 598px;

    padding: 30px;

    border: 1px solid #ccc;

    background: #ffd6d6;

    box-sizing: content-box;
}