body{
    font-family:Arial;
}

.container{
    width:960px;
    margin:auto;
    overflow:hidden;
    margin-bottom:40px;
    border:2px solid #333;
}

.fix1 *{
    box-sizing:border-box;
}

.fix1 .sidebar{
    width:300px;
    padding:20px;
    border:1px solid #ccc;
    float:left;
    background:#dbeafe;
}

.fix1 .content{
    width:660px;
    padding:30px;
    border:1px solid #ccc;
    float:left;
    background:#fef3c7;
}


.fix2 .sidebar{
    width:258px;
    padding:20px;
    border:1px solid #ccc;
    float:left;
    background:#dbeafe;
}

.fix2 .content{
    width:598px;
    padding:30px;
    border:1px solid #ccc;
    float:left;
    background:#fef3c7;
}