/* =========================
   1. ELEMENT
   Specificity: 0,0,1
========================= */

p {
    color: blue;
}

/* =========================
   2. ELEMENT + ELEMENT
   Specificity: 0,0,2
========================= */

body p {
    color: green;
}

/* =========================
   3. CLASS
   Specificity: 0,1,0
========================= */

.text {
    color: orange;
}

/* =========================
   4. CLASS
   Specificity: 0,1,0
========================= */

.highlight {
    color: purple;
}

/* =========================
   5. ELEMENT + CLASS
   Specificity: 0,1,1
========================= */

p.text {
    color: brown;
}

/* =========================
   6. TWO CLASSES
   Specificity: 0,2,0
========================= */

.text.highlight {
    color: pink;
}

/* =========================
   7. ELEMENT + TWO CLASSES
   Specificity: 0,2,1
========================= */

p.text.highlight {
    color: teal;
}

/* =========================
   8. ID
   Specificity: 1,0,0
========================= */

#demo {
    color: red;
}

/* =========================
   9. ID + ELEMENT
   Specificity: 1,0,1
========================= */

p#demo {
    color: gold;
}

/* =========================
   10. ID + TWO CLASSES
   Specificity: 1,2,0
========================= */

#demo.text.highlight {
    color: black;
}